body {
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,38,121,1) 45%, rgba(0,212,255,1) 100%);
}

.centerContainer {
    width: 85%;
    background: rgb(243,162,162);
    background: linear-gradient(180deg, rgba(243,162,162,1) 0%, rgba(243,25,25,1) 100%);
    height: 85vh;
    margin: auto;
    
}